:root {
  --font-family: "IRANSansWeb", sans-serif;
  //global
  --text: #313235;
  --bg-gradiant-1: rgba(12, 49, 124, 1);
  --bg-gradiant-2: rgba(16, 67, 166, 1);

  //login
  --login-bg: #fafafa;
  --login-border: 1px solid #eaecf0;
  --login-main-text: #313235;
  --login-description-text: #7e838f;

  //button
  --button-bg-gradiant-1: rgba(12, 49, 124, 1);
  --button-bg-gradiant-2: rgba(16, 67, 166, 1);
}
* {
  font-family: "IRANSansWeb";
}
body {
  direction: rtl;
  margin: 0;
  padding: 0;
}

a {
  @include linearGradient(var(--bg-gradiant-1), var(--bg-gradiant-2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after {
    @include linearGradient(var(--bg-gradiant-1), var(--bg-gradiant-2));
  }
}
