
:root {
    --login-bg: #fafafa;
    --login-border: 1px solid #eaecf0;
    --login-main-text: #313235;
    --login-description-text: #7e838f;
  }
  
  body {
    font-family: "IRANSansWeb";
    direction: rtl;
    margin: 0;
    padding: 0;
  }